# Name of your honeypot service
service: my-honeypot
primary_role: honeypot

# Docker image to use (ensure ARM64 compatibility for Raspberry Pi)
image: neophob/fw-honeypot

# Servers where the app should be deployed
servers:
  honeypot:
    hosts:
    - 51.195.102.237
    proxy: false
    options:
      publish:
        - "23:3323"
        - "25:3325"
        - "445:445"
        - "3306:3306"
        - "22:3322"

ssh:
  user: ubuntu           # your SSH user
  port: 22222            # your SSH port

logging:
  options:
    max-size: 64m

# Optional: registry credentials if using a private registry
registry:
  server: ghcr.io
  username: neophob
  password:
     - KAMAL_REGISTRY_PASSWORD

# Builder setup (optional, mostly for local Docker builds)
builder:
  arch: amd64

# Inject environment variables into the container (optional)
env:
  DEBUG: "*"
  LOG_DEST: "/opt/honeypot/"
  LLM_DEST: "/opt/honeypot/"

# Persistent volumes for logs/malware captures
volumes:
  - "./data:/opt/honeypot"

accessories:
  ollama:
    # the docker image needs to be in the registry and is not automatically build!
    image: ollama/ollama
    port: 11434
    volumes:
      # map the hosts ollama director into the container's path /root/.ollama
      - "ollama:/root/.ollama"
    host: 51.195.102.237

# Aliases to make SSHing/logging easier (optional)
aliases:
  log: app logs -f
  appshell: app exec --interactive --reuse -i "bash"
  ollamashell: accessory exec ollama --reuse -i "bash"
  servershell: server exec --interactive "bash"
  stats: server exec "curl -s http://172.18.0.3:8080 | jq"
  fr: server exec cat data/dump-raw.log
  fl: server exec cat data/dump-llm.log
  fc: server exec rm -f data/dump-*.log
